* {
  box-sizing: border-box;
}

body {
	background-image: url('../images/background.jpg');
	background-size: 80%;
}

.container{
	margin-left:10px;
}

.header {
	background-color:orange;
	color:white;
	font-size: 27px;
	margin-bottom:5px;
	margin-top: 10px;
	width: 30%;
	padding: 45px;
	text-align: center;
}

.instructions {
	background-color: #FFDAB9;
	color:green;
	width: 40%;
	margin-bottom:10px;
	padding-bottom:15px;
	text-align: center;
}

.compScore {
	background-color: green;
	width: 30%;
	padding: 10px;
    margin-bottom: 4px;
    font-size: 38px;


	
}

.scores {
	background-color: #00FFFF;
	width: 30%;
	line-height:25px;
}

.scoreTracker {
	background-color: #228B22;
	width: 25%;
	padding:10px;
	font-size: 20px;
	margin-top: 5px;
}

#playerScore{
		background-color: #228B22;
		width: 25%;
		padding:10px
		margin-top:4px;

}
