/*body {
	margin:auto;
	background:url(../css/images/Ice_crystal_background.jpg);
}*/

* {
  box-sizing: border-box;
}

.header {
	background-color:orange;
	color:white;
	font-size: 27px;
	margin-bottom:5px;
}

.instructions {
	background-color: #FFDAB9;
	color:green;
}

.random {
	background-color: green;
	
}
